// color palette
$primary-color: #2ec4b6;
$secondary-color: #ff9f1c;
$surface-color: #fefffe;
$background-color: #d9d9d9;
$error-color: #e71d36;

// text colors
$on-primary-color: #000000;
$on-secondary-color: #000000;
$on-surface-color: #000000;
$on-background-color: #000000;
$on-error-color: #ffffff;
