@use "../abstracts/variables" as vars;
@use "../base/typography" as type;

// btn
.btn {
  height: 2.25rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: vars.$surface-color;
  color: vars.$on-surface-color;
  padding: 0 1rem;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid vars.$surface-color;
  outline: none;

  &:focus {
    border: 1px solid vars.$on-surface-color;
  }

  // btn--primary
  &--primary {
    background-color: vars.$primary-color;
    color: vars.$on-primary-color;
  }

  // btn--form
  &--form {
    height: 3rem;
    padding: 1rem;
  }

  // btn--lg
  &--lg {
  }

  // btn--36px
  &--36 {
    width: 2.25rem;
    height: 2.25rem;
    padding: 0;
  }

  // btn--40px
  &--40 {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
  }

  // btn--48px
  &--48 {
    width: 3rem;
    height: 3rem;
    padding: 0;
  }

  // btn--outline
  &--rounded {
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
  }

  // btn--filter
  &--filter {
    background-color: rgba($color: vars.$secondary-color, $alpha: 0.4);
    color: vars.$on-secondary-color;

    // btn--active
    &.btn--active {
      background-color: vars.$secondary-color;
    }
  }

  // btn--danger
  &--danger {
    background-color: vars.$error-color;
    color: vars.$on-error-color;
  }

  // btn--left
  &--left {
    margin-right: auto;
  }

  // btn--right
  &--right {
    margin-left: auto;
  }

  // btn--margin-left
  &--margin-left {
    margin-left: 1rem;
    // btn--margin-left-s
    &-s {
      margin-left: 0.5rem;
    }
  }

  // btn--margin-right
  &--margin-right {
    margin-right: 1rem;
    // btn--margin-right-s
    &-s {
      margin-right: 0.5rem;
    }
  }

  // btn--margin
  &--margin {
    margin: 0 1rem;
    // btn--margin-s
    &-s {
      margin: 0 0.5rem;
    }
  }

  // btn__icon
  &__icon {
    width: 24px;
    height: 24px;
    fill: vars.$on-primary-color;
  }
}

// btn-group
.btn-group {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // btn-group--inline
  &--inline {
    width: auto;
  }
}
