@use "../abstracts/variables" as vars;
@use "../base/typography" as type;

// form
.form {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  // form__section
  &__section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  // form__label-wrapper
  &__label-wrapper {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  // form__label
  &__label {
    color: type.$text-high-color;
    font-size: 1.2rem;
  }

  // form__input-control
  &__input-control {
    flex-grow: 1;
    height: 3rem;
    border: 3px solid vars.$primary-color;
    padding-left: 0.5rem;
    margin: 0 0.5rem 0 0;

    &:focus {
      border: 5px solid vars.$primary-color;
      outline: none;
    }
  }
}
