// font sizes
$base-font: "Nunito", Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$body-font-size: 1rem;
$headline-font-size: 1.5rem;
$subheadline-font-size: 1rem;

// colors
$text-higher-color: rgba(#000000, 0.87);
$text-high-color: rgba(#000000, 0.75);
$text-medium-color: rgba(#000000, 0.6);
$text-low-color: rgba(#000000, 0.5);
